html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

nav {
    background-image: linear-gradient(to bottom, #333, #555);
}

main .card {
    max-width: 300px;
}

small {
    font-size: .75rem;
}

li a {
    cursor: pointer;
}